
header {
    background: rgb(70, 70, 189);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
header h1 {
    font-size: 1.5rem;
  }

  
nav ul {
    display: none; 
    list-style: none;
    margin: 0;
    padding: 0;
  }
nav ul li {
    margin: 0;
  }
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
nav a:hover {
    color: #333;
    background-color: rgb(53, 53, 137);
    padding: 5px;
    border-radius: 5px;
}
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    justify-content: space-between;
  }
.hamburger span {
    display: block;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
  }



.temples-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
    padding: 0 1rem;
  }
  
figure {
    margin: 0 auto;
    max-width: 90%;
  }
  
figure img {
    width: 100%;
    border-radius: 5px;
  }
  
figcaption {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .temples-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.temple-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; 
    text-align: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.temple-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.temple-card p {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
}

.temple-card img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    display: block;
}

footer {
    background: rgb(70, 70, 189);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 1rem;
  }




